html {
  color:#fff;
  margin-left: 5px;
}
body{
  color: #fff;
}
.todo-container {
  font-family: sans-serif;
  text-align: center;
  background-color: #5d96c5;
  width: 300px;
  height: 400px;
  /* margin: 0 auto; */
  border-radius: 5%;
  color: #eee;
  border: 2px solid #eee;
  overflow: scroll;
}
button,
input[type="button"] {
  background-color: #520d0dc6;
  color: #eee;
  font-weight: bold;
  border: none;
}
input[type="checkbox"] {
  transform: scale(1.5);
  /* margin-right: 5px; */
}
ul {
  text-align: left;
  margin-left: -28px;
}
.selected {
  color: #4ae8db;
}
h2 {
  background-color: #fff;
  color: #222;
  position: relative;
  margin-top: 0;
  box-sizing: border-box;
}
.input-btn-holder {
  width: 100%;
}
#text {
  width: 75%;
  font-size: 16px;
}
#add-btn {
  font-size: 16px;
}
.list-item{
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #182a73e6;
}
.calendar-container{
  width: 500px;
  position: relative;
  color: #222;
  overflow:visible;
}
.calendar-grid{
  display: grid;
  background-color: #5d96c5;
  width: 600px;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 5x;
  
}
.calendar-tasks-container{
  background: none;
  width: 80px;
  height: 60px;
  overflow-y: scroll ;
}
.calendar-cell{
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  position: relative;
  border: 2px solid #000;
  overflow: hidden;
}
.calendar-title{
  width: 80px;
  display: inline;
}
.calendar-cell-weekday{
  background-color: #3eb40c;
  text-align: center;
  font-weight: bold;
  width: 80px;
  height: 20px;
  margin-bottom: 5px;
}
.calendar-day-preview{
  background-color: #5d96c5;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
  border-radius: 5px;
  border: 2px solid #fff;
  padding-left: 5px;
}
.calendar-tasklist-item{
  background-color: rgba(171, 187, 28, 0.66);
  margin-bottom: 5px;
}
.hidden {
  display: none;
}
.priority{
  background-color: #f00;
}